body {
    font-family: Sans-Serif;
    height: 100vh;
    background: #eaeaea;
}

.centered{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 50%;
    left:50%;
    transform: translate(-50%, 50%);
    max-width: 200px;
}
.centered button {
    height: 200px;
    border: 0;
    border-radius: 100%;
}
.centered button{
    width: 100%;
    text-align: center;
}